.degree {
  position: absolute;
  left: 210px;
  transform-origin: 50% 220px;
  cursor: pointer;
}
#light,
#dark {
  overflow-x: hidden;
}
.main-circle {
  width: 450px;
  height: 450px;
  margin: auto;

  animation: orbit 80s linear infinite;
}
@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
.degree.first {
  transform: rotate(0deg);
}
.degree.second {
  transform: rotate(40deg);
}
.degree.third {
  transform: rotate(80deg);
}
.degree.fourth {
  transform: rotate(120deg);
}
.degree.fifth {
  transform: rotate(160deg);
}
.degree.sixth {
  transform: rotate(200deg);
}
.degree.seventh {
  transform: rotate(240deg);
}
.degree.eighth {
  transform: rotate(280deg);
}
.degree.ninth {
  transform: rotate(320deg);
}
.degree.ninth svg,
.degree.eighth svg {
  width: 48px;
  height: 48px;
}
.center-label {
  background: #2a2e35;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  left: calc((100% / 2) - 40px);
  top: calc((100% / 2) - 40px);
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: reverse-orbit 80s linear infinite;
}
@keyframes reverse-orbit {
  0% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(0deg);
  }
}

.stack-name {
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
}
.react-style {
  border-color: #80deea;
}
.javascript-style {
  border-color: #ffd600;
}
.html-style {
  border-color: #e65100;
}
.css-style {
  border-color: #0277bd;
}
.mongo-style {
  border-color: #246e8b;
}
.bootstrap-style {
  border-color: #7509f6;
}
.node-style {
  border-color: #75ac64;
}
.express-style {
  border-color: #b7c0b4;
}
.firebase-style {
  border-color: #ffa000;
}
.pulse {
  animation: pulse 1.5s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.loader {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.arrow-icon {
  animation-name: forward;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes forward {
  0% {
    margin-left: 1rem;
  }
  100% {
    margin-left: 2rem;
  }
}
