@media (max-width: 630px) {
  div.menu-container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  div.pc-header, .desk__backdrop {
    display: none;
  }
  .project__logo-img {
    object-fit: cover;
  }
  header#top-bar {
    display: block;
  }
  main.main {
    padding-top: 120px;
  }
  .nav-item
  {
    margin: 20px;
  }
  #light .menu {
    background-color: #fff;
  }
  #dark .menu {
    background-color: rgb(19, 17, 17);
  }
  .menu {
    top: 51px;
    left: 100%;
    transition: left 1s;
  }
  .menu.slide {
    left: 50%;
  }
  .menu-btn {
    position: absolute;
    top: 10px;
    right: 1rem;
    z-index: 1;
  }

  .focus {
    background: none !important;
    border-bottom: 2px solid #222;
  }

  .backdrop {
    position: fixed;
    top: 51px;
    bottom: 0;
    right: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    transition: right 1s;
  }

  .backdrop.slide {
    right: 50%;
  }
  p.intro {
    line-height: 1.2rem;
    text-align: left;
  }
  .project {
    width: 100% !important;
  }
  li.project:hover {
    box-shadow: none;
    transform: none;
  }
  div.project__info {
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .main-circle {
    width: 300px;
    height: 300px;
  }
  .services-container {
    top: 300px;
  }
  .degree {
    left: 130px;
    transform-origin: 50% 150px;
  }
  .form-name-email {
    flex-direction: column;
  }
  div.email-wrapper {
    margin: 20px 0 0 0;
  }
  div.project__info {
    padding: 0;
  }
}
@media (max-width: 320px) {
  h5 {
    font-size: 18px;
  }
}
