html,body{
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior:smooth;
}
body {
  margin: 0;
  font-family: 'Roboto Mono';
  height: 100vh;
  background: linear-gradient(-45deg, rgb(0, 65, 96), rgb(2, 51, 144), rgb(0, 25, 160) );
  background-size: 400% 400%;
  animation: gradientani 5s linear infinite;
}
@keyframes gradientani {
	0% {
		background-position: 0% 33%;
	}
  16%{
    background-position: 33% 66%;
  }
	30% {
		background-position: 66% 100%;
	}
	44% {
		background-position: 100% 66%;
	}
  66%{
    background-position: 66% 33%;
  }
  80%{
    background-position: 33% 0%;
  }
  100%{
    background-position: 0% 33%;
  }
}

img{
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 572px){
  img{
    width: 40px;
    height: 40px;
  }
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(2, 230, 190); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}